<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Login - Productos</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Stylesheets & Fonts -->
  <link th:href="@{/css/plugins.css}" rel="stylesheet">
  <link th:href="@{/css/style.css}"   rel="stylesheet">

</head>

<body >
<!-- Body Inner -->
<div class="body-inner">
  <!-- Section -->
  <section class="pt-5 pb-5" style="background: url(/tuPortalJFDL/images/pattern/pattern15.png) !important;" >
    <div class="container-fluid d-flex flex-column">
      <div class="row align-items-center min-vh-100">
        <div class="col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="card">
            <div class="card-body py-5 px-sm-5">
              <div class="mb-5 text-center">
                <h6 class="h3 mb-1">Inicio de Sesion</h6>
                <p class="text-muted mb-0">Ingresa a tu cuenta para Continuar.</p>
              </div><span class="clearfix"></span>
              <form th:action="@{/login}" method="post" >
                <div th:if="${param.error}">
                  <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                </div>
                <div th:if="${param.logout}">
                  <p class="text-warning"><b>Usted ha sido desconectado.</b></p>
                </div>
                <div class="form-group">
                  <label >Usuario</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="username" placeholder="Ingrese su correo" required="">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                </div>
                <div class="form-group ">
                  <label >Clave</label>
                  <div class="input-group show-hide-password">
                    <input class="form-control" name="password" placeholder="Ingrese su clave" type="password" required="">
                    <span class="input-group-text"><i class="icon-eye-off" aria-hidden="true" style="cursor: pointer;"></i></span>
                  </div>
                </div>
                <div class="mt-4"><button type="submit" class="btn btn-primary btn-block btn-primary">Ingresar</button></div>
              </form>
              <div class="mt-4 text-center"><small>No esta Registrado?</small> <a href="registro/registroUsuario" class="small fw-bold">Crea tu Cuenta</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end: Section -->
</div>
<!-- end: Body Inner -->
<!-- Scroll top -->
<a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
<!--Plugins-->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/functions.js}"></script>


</body>

</html>
