<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="../images/FDL.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>JFDL | Tu Blog</title>
    <!-- Stylesheets & Fonts -->
    <link th:href="@{/css/plugins.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}"   rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Section -->
        <section class="pt-5 pb-5" style="background: url(/tuPortalJFDL/images/pattern/pattern15.png) !important;" >
            <div class="container-fluid d-flex flex-column">
                <div class="row align-items-center min-vh-100">
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <div class="card shadow-lg">
                            <div class="card-body py-5 px-sm-5">
                                <h3>Registrar una cuenta nueva</h3>
                                <p>Cree una cuenta ingresando la información a continuación. Si ya posee una cuenta activa, regrese a la pantalla de inicio de sesion en la parte inferior de la página.</p>
                                <form id="form1" action="#" class="form-validate mt-5" th:action="@{/registro/registrar}" th:object="${usuario}" method="post">
                                    <div class="h5 mb-4">Detalles de la cuenta</div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="user_name">Nombre de usuario</label>
                                            <input type="text" th:field="*{user_name}" class="form-control" name="user_name" placeholder="Ingrese su nombre de usuario" required="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="mail">Dirección de correo electrónico</label>
                                            <input type="mail" th:field="*{mail}" class="form-control" name="mail" placeholder="Ingrese su correo electrónico" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="clave">contraseña</label>
                                            <div class="input-group show-hide-password">
                                                <input th:field="*{clave}" class="form-control" name="clave" placeholder="Ingrese su contraseña" type="text" required="">
                                                <span class="input-group-text"><i class="icon-eye" aria-hidden="true" style="cursor: pointer;"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="password2">Confirmar Contraseña</label>
                                            <div class="input-group show-hide-password">
                                                <input class="form-control" name="password2" placeholder="Ingrese su contraseña" type="password" required="">
                                                <span class="input-group-text"><i class="icon-eye-off" aria-hidden="true" style="cursor: pointer;"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="nombre">Nombre</label>
                                            <input type="text" th:field="*{nombre}" class="form-control" name="nombre" placeholder="Ingrese su nombre" required="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="apellido">Apellido</label>
                                            <input type="text" th:field="*{apellido}" class="form-control" name="apellido" placeholder="Ingrese su apellido" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="genero">Género</label>
                                            <select th:field="*{genero}" class="form-select" name="genero" required="">
                                                    <option value="">Selecciona tu genero</option>
                                                    <option value="F">Femenino</option>
                                                    <option value="M">Masculino</option>
                                                </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="fecha_nacimiento">Fecha de nacimiento</label>
                                            <input th:field="*{fecha_nacimiento}" class="form-control" type="date" name="fecha_nacimiento" required="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="telefono">Teléfono</label>
                                            <input class="form-control" type="tel" th:field="*{telefono}" name="telefono" placeholder="Ingrese su numero de telefono" required="">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn m-t-30 mt-3">Enviar</button>
                                </form>
                                <div class="mt-4"><small>¿Ya tienes una cuenta? </small> <a href="../login" class="small fw-bold">Iniciar sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/functions.js}"></script>

</body>

</html>
